---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MainSection from '../components/MainSection.astro';
import SubSection from '../components/SubSection.astro';
import CustomRadarChart from '@/components/RadarChart';
import CustomBarChart from '@/components/BarChart';
import Matrix from '../components/Matrix.astro';
import '../styles/globals.css'

import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "../components/ui/table"


const strategyFB = [0, 1, 0, 1, 1, 0, 1, 1, 0, 0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0]; // Ejemplo de estrategia para fuerza bruta
---

<Layout title="Modex">
  <Header subject="Análisis y diseño de algoritmos II"/>

  <main class="max-w-3xl m-auto rounded-md ring-1 ring-[#3D3D3D] shadow-2xl overflow-hidden">
    <MainSection sectionTitle="Información general">
      <div class="flex flex-col gap-4">
        <ul class="list-none list-inside space-y-2">
          <li>Número de agentes: <span class="text-white italic">n</span></li>
          <li>Recursos totales: <span class="text-white italic">R_max</span></li>
          <li>Extremismo de la red: <span class="text-white italic">Ext</span></li>
          <li>Esfuerzo total de moderación: <span class="text-white italic">Esf</span></li>
        </ul>
        <div class="max-w-xs overflow-y-scroll relative max-h-72 flow-root agents-table">
          <Table>
            <TableHeader className='sticky top-0 bg-[#D9D9D9] bg-opacity-60 backdrop-blur backdrop-filter'>
              <TableRow>
                <TableHead className='text-white'>Agente</TableHead>
                <TableHead className='text-white'>Opinión</TableHead>
                <TableHead className='text-white'>Receptividad</TableHead>
              </TableRow>
            </TableHeader>
            <TableBody className='max-h-2'>
              <TableRow>
                <TableCell className="font-medium">0</TableCell>
                <TableCell>100</TableCell>
                <TableCell>0.3</TableCell>
              </TableRow>
              <TableRow>
                <TableCell className="font-medium">0</TableCell>
                <TableCell>100</TableCell>
                <TableCell>0.3</TableCell>
              </TableRow>
              <TableRow>
                <TableCell className="font-medium">0</TableCell>
                <TableCell>100</TableCell>
                <TableCell>0.3</TableCell>
              </TableRow>
              <TableRow>
                <TableCell className="font-medium">0</TableCell>
                <TableCell>100</TableCell>
                <TableCell>0.3</TableCell>
              </TableRow>
              <TableRow>
                <TableCell className="font-medium">0</TableCell>
                <TableCell>100</TableCell>
                <TableCell>0.3</TableCell>
              </TableRow>
              <TableRow>
                <TableCell className="font-medium">0</TableCell>
                <TableCell>100</TableCell>
                <TableCell>0.3</TableCell>
              </TableRow>
              <TableRow>
                <TableCell className="font-medium">0</TableCell>
                <TableCell>100</TableCell>
                <TableCell>0.3</TableCell>
              </TableRow>
              <TableRow>
                <TableCell className="font-medium">0</TableCell>
                <TableCell>100</TableCell>
                <TableCell>0.3</TableCell>
              </TableRow>
            </TableBody>
          </Table>
        </div>
        <SubSection subTitle="Comparación de soluciones">
            <CustomRadarChart client:only/>
        </SubSection>
        <SubSection subTitle="Diferencias de estrategias">
          <ul class="list-none list-inside space-y-2">
            <li>ModexFB vs ModexPD: <span class="text-white italic">α</span></li>
            <li>ModexFB vs ModexV : <span class="text-white italic">β</span></li>
            <li>ModexPD vs ModexV: <span class="text-white italic">β</span></li>
          </ul>
        </SubSection>
      </div>
    </MainSection>
    <MainSection sectionTitle="Fuerza Bruta">
      <div class="flex flex-col gap-4">
        <ul class="list-none list-inside space-y-2">
          <li>Tiempo de cómputo: <span class="text-white italic">t</span></li>
          <li>Extremismo óptimo: <span class="text-white italic">Ext</span></li>
          <li>Esfuerzo empleado: <span class="text-white italic">Esf</span></li>
          <Matrix title="Estrategia Fuerza Bruta" strategy={strategyFB} />
        </ul>
        <SubSection subTitle="Comparación con datos iniciales">
            <CustomBarChart client:only/>
        </SubSection>
      </div>
    </MainSection>

    <MainSection sectionTitle="Programación dinámica">

    </MainSection>

    <MainSection sectionTitle="Estrategia voraz">
     
    </MainSection>

  </main>
</Layout>

<style>
.agents-table {
  scrollbar-width: thin;
  scrollbar-color: #3D3D3D transparent;
}

</style>
