---
const { subject } = Astro.props;
---

<header class="flex flex-col text-lg items-center mt-10">
  <h2 class="text-[#CECECE] italic font-light">{subject}</h2>
  <h1 class="text-6xl text-[#CECECE] flex mt-2">
    <img src="/logo.png" alt="Modex" class="w-12 mr-2 inline-block">
    <span class="text-[#00ADD8]">Mod</span>ex
  </h1>
  <div class="file-loader my-8 flex gap-1">
    <select name="files" class="bg-[#333] w-72 text-[#CECECE] border-2 rounded-md border-[#00ADD8]" id="cars">
      <option value="prueba1">Prueba1.txt</option>
      <option value="prueba2">Prueba2.txt</option>
      <option value="prueba3">Prueba3.txt</option>
      <option value="prueba4">Prueba4.txt</option>
    </select>
    <button class="bg-[#00ADD8] rounded-md px-2 text-2xl font-bold text-[#333]">+</button>
  </div>
</header>
