
package pages

import "github.com/Krud3/ada2/programacionDinamicaVoraz/src/view/components"

templ Layout() {
      @Main()
      <div class="flex md:flex-row">
        @components.Aside()
	<div class="flex flex-col">
	  @components.Hello("Golanders")
          @components.FileUploader()
	</div>
      </div>
}